{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% load static %}

{% block homecss %}
<style>
    .main{
        width: 100%;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .wrapper{
        width: 70%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 30px;
    }
    
    .left-col{
        display: flex;
        flex-direction: column;
    }
    .post{
        width: 100%;
        height: auto;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin-top: 40px;
    }
    
    .info{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .info .username{
        width: auto;
        font-weight: bold;
        color: #000;
        font-size: 14px;
        margin-left: 10px;
        padding-top:12px
    }
    
    .info .options{
        height: 10px;
        cursor: pointer;
    }
    
    .info .user{
        display: flex;
        align-items: center;
    }
    
    .info .profile-pic{
        height: 40px;
        width: 40px;
        padding: 0;
        background-color : none;

    }
    
    .info .profile-pic img{
        border: none;
    }
    
    .post-image{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    
    .post-content{
        width: 100%;
        padding: 20px;
    }
    
    .likes{
        font-weight: bold;
    }
    
    .description{
        margin: 10px 0;
        font-size: 14px;
        line-height: 20px;
    }
    
    .description span{
        font-weight: bold;
        margin-right: 10px;
    }
    
    .post-time{
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }
    
    .comment-wrapper{
        width: 100%;
        height: 50px;
        border-radius: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .comment-wrapper .icon{
        height: 30px;
    }
    
    .comment-box{
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
    }
    
    .comment-btn,
    .action-btn{
        width: 70px;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-size: 16px;
        color: rgb(0, 162, 255);
        opacity: 0.5;
    }
    
    .reaction-wrapper{
        width: 100%;
        height: 50px;
        display: flex;
        margin-top: -20px;
        align-items: center;
    }
    
    .reaction-wrapper .icon{
        height: 25px;
        margin: 0;
        margin-right: 20px;
    }
    
    .reaction-wrapper .icon.save{
        margin-left: auto;
    }
    .heart-font{
        font-size: 12px;
    }
    .right-col{
        padding: 20px;
    }
    
    .profile-card{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .profile-card .profile-pic{
        flex: 0 0 auto;
        padding: 0;
        background: none;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    .first-profile-card .profile-pic{
        width: 70px;
        height: 70px;
    }
    
    .profile-card .profile-pic img{
        border: none;
    }
    
    .profile-card .username{
        font-weight: 500;
        font-size: 14px;
        color: #000;
    }
    
    .sub-text{
        color: rgba(0, 0, 0, 0.5);
        font-size:12px;
        font-weight: 500;
        margin-top: 5px;
    }
    
    .action-btn{
        opacity: 1;
        font-weight: 700;
        font-size: 12px;
    }
    
    .suggestion-text{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
        margin: 20px 0;
    }
    
    @media (max-width: 1100px){
        .right-col, .search-box{
            display: none;
        }
        .nav-wrapper,
        .wrapper{
            width: 90%;
        }
        .wrapper{
            display: block;
        }
    }
    
    @media (max-width: 500px){
        .nav-items .icon{
            margin: 0 5px;
        }
        .post-image{
            height: 300px;
        }
    }

    a.icon-form{
        color:red;
    }

    .people-list{
        width:140px
    }

    .scroll-form{
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background-color:white;
        width: 100%;
        height: 250px;
    }
    .scroll-form::-webkit-scrollbar {
        display: none;
    }
    {% comment %} 팝업창 css {% endcomment %}
    .main .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .main .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 1200px;
        height: 600px;
        position: relative;
        padding: 10px;
    }

    .modal_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size: 20px;
        }
  
      .modal_title_side{
        flex: 0 0 40px;
        text-align: center;
        }

    .image_container{
        outline: 2px dashed black ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width:100%;
        height: 548px;
    }

   

</style>

{% endblock homecss %}

{% block homescript %}
<script>
    

    const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");
    buttonAddFeed.addEventListener("click", e => {
        modal.style.display = "flex";
        document.body.style.overflowY = "hidden"; // 스크롤 없애기
    });
    
    // 모달 닫기 코드
    const buttonCloseModal = document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });
    setThumbnail

    function setThumbnail(event) {

        for (var image of event.target.files) {
          var reader = new FileReader();

          reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
            img.style.width="100%";
          };

          console.log(image);
          reader.readAsDataURL(image);
        }
      }
    

</script>
{% endblock homescript %}


{% block content %}
    


<!-- 글 피드 보여주기 -->
    
        <section class="main">
        <!--트윗 페이지 보여주기-->
        <div class="wrapper" style="margin-bottom:200px">
            <div class="left-col">
                {% for tw in tweet %}
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img class="profile-pic" src="http://cdn.onlinewebfonts.com/svg/img_329115.png" alt=""></div>
                            <p class="username">{{tw.author.username}}</p>
                            
                        </div>
                        {% if tw.author == user %}
                                <div style="float: right;">
                                    <!-- 수정 삭제 아이콘 보여주기 -->
                                    <a href ="/tweet/modify/{{ tw.id }}" class="icon-form"><i onclick="" style="margin:5px" class="fa-sharp fa-solid fa-pen"></i></a></span>
                                    <a href="/tweet/delete/{{ tw.id }}" class="icon-form">
                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                    </a>
                                </div>
                        {% endif %}

                    </div>
                    {% if tw.imgfile %}
                        <img src="{{ tw.imgfile.url }}" class="post-image" alt="">
                    {% else %}
                        <img src="https://miro.medium.com/max/640/1*blwiJtR0mluF6R2UyakaSA.png" class="post-image" alt="">
                    {% endif %}
                    <div class="post-content">
                        <div style="">
                            {% if user in tw.like_content.all %}
                                <a href="/tweet/like/{{ tw.id }}" class="card-link icon-form"><i class="fa-sharp fa-solid bi-heart-fill" style="font-size: 24px;"></i></a><br />
                            {% else %}
                                <a href="/tweet/like/{{ tw.id }}" class="fa-sharp fa-solid icon-form"><i class="fa-sharp fa-solid bi-heart" style="font-size: 24px;"></i></a><br />
                                
                            {% endif %}
                            <span class="heart-font"><b>좋아요 {{ tw.like_content.count }}개</b></span>
                        
                        </div>
                       
                        <p class="description"><span>{{tw.author.username}} </span> {{tw.content}}</p>
                        <a href="/tweet/{{ tw.id }}">
                            <p class="post-time">댓글 {{ tw.comment_count }}개 모두 보기</p>
                        </a>

                        {% for comment in tw.tweetcomment_set.all reversed%}
                            
                            {% if forloop.counter < 3 %}
                                <span class="feed_txt"> <b> {{comment.author}} </b> {{comment.comment}} </span><br/>
                            {% endif %}
                        {% endfor %}
                        
                        
                        <p class="post-time" style="margin:10px 0px -10px 0px">{{ tw.created_at|timesince }} 전</p>
                        
                        

                    </div>
                    <hr>
                    <form class="input-group mb-3" action="/tweet/home/commentadd/{{ tw.id }}" method="post">
                        {% csrf_token %}
                        <div class="comment-wrapper">
                            <img src="" class="icon" alt="">
                            <input type="text" class="comment-box" placeholder="댓글 달기..." name="comment" id="comment">
                            <button class="comment-btn">작성</button>
                        
                        </div>
                    </form>

                        
                    
                </div>
                {% endfor %}
            </div>
            <!-- 오른쪽 추천 친구-->
            <div class="right-col">
                <div class="profile-card first-profile-card">
                    <div class="profile-pic">
                        <img class="profile-pic" src="http://cdn.onlinewebfonts.com/svg/img_329115.png" alt="">
                    </div>
                    <div>
                        <span class="username">{{ user.username }}</span></br>
                        <span class="sub-text">{{ user.email }}</span>
                    </div>               
                </div>

                <p class="suggestion-text">회원 목록</p>
                <div class="scroll-form">
                    {% for people in user_list%}
                        <div class="profile-card">
                            <div class="profile-pic">
                                <a href="/user/profile/{{ people.id }}">
                                    <img class="profile-pic" src="http://cdn.onlinewebfonts.com/svg/img_329115.png" alt="">
                                </a>
                                
                            </div>
                            <div class="people-list">
                                <span style="margin-top:7px" class="username">{{ people.username }}</span></br>
                                <span class="sub-text">{{ people.email }}</span>
                            </div>
                            
                            {% if people in user.follow.all %}
                                <a href="/tweet/follow/{{ people.id }}" class="card-link"><button class="action-btn" style="color:black">팔로잉</button></a>
                            {% else %}
                                <a href="/tweet/follow/{{ people.id }}" class="card-link"><button class="action-btn">팔로우</button></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <!-- 팝업창 띄우기 -->
        <div id = "modal_add_feed" class="modal_overlay">
            <div class="modal_window">
                <div class="modal_title">
                    <div class="modal_title_side"></div>
                    <div> 새 게시물 </div>
                    <div class="modal_title_side">
                        <span id="close_modal" class="material-icons-outlined">
                            close
                        </span>
                    </div>
                </div>
                <div class="container">
                    <form action="/tweet/" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="image_container" id="image_container"></div>
                                {% comment %} <div class="modal_image_upload" name="imgfile" accept="image/*"></div> {% endcomment %}
                                
                                

                            </div>
                            <div class="col-6">
                                <div class="media">
                                    <div class="media-body">
                                        <br>
                                        <br>
                                        <h5 class="mt-0">글 내용 입력</h5>                
                                        <p>                                   
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                            <div class="form-group mb-2">
                                                <input
                                                    style="margin-bottom:15px"
                                                    type="text"
                                                    class="form-control"
                                                    name="my-title"
                                                    id="my-title"
                                                    placeholder="제목"
                                                >

                                                <textarea class="form-control"style="resize:none;"name='my-content'id="my-content"placeholder="내용 입력"></textarea >

                                                <div class="mt-3 row">
                                                    <label for="tag" class="col-sm-2 col-form-label">이 글의 태그</label>
                                                    <div class="col-sm-10">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="tag"
                                                            id="tag"
                                                            placeholder="#으로 구분 해 주세요">
                                                    </div>
                                                </div>
                                                <input class="" type="file" id="image" name="imgfile" accept="image/*" onchange="setThumbnail(event)">
                                            </div>
            
                                            <div style="float: right">
                                                <button type="submit" class="btn btn-primary">작성하기</button>
                                                <a href="/tweet" class="btn btn-secondary">취소</a>
                                            </div>
                                            
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        
        


        </section>



{% endblock %}