<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        //새 비밀번호 - 현재 비밀번호와 같은 경우 에러 메시지 띄우기
        $('#new_user_pw').change(function(){
            exist_user_pw = $('#exist_user_pw').val();
            new_user_pw = $('#new_user_pw').val();

            if(exist_user_pw == new_user_pw) {
                $('#error_msg1').css('display', 'inline');
                $('#error_msg1').show();
                $('#new_user_pw').css('background-color', '#F6CECE');
            } else {
                $('#error_msg1').hide();
                $('#new_user_pw').css('background-color', '');
            }
        });

        //새 비밀번호 확인 - 새 비밀번호와 다른 경우 에러 메시지 띄우기
        $('#check_user_pw').change(function(){
            new_user_pw = $('#new_user_pw').val();
            check_user_pw = $('#check_user_pw').val();

            if(new_user_pw != check_user_pw) {
                $('#error_msg2').css('display', 'inline');
                $('#error_msg2').show();
                $('#check_user_pw').css('background-color', '#F6CECE');
            } else {
                $('#error_msg2').hide();
                $('#check_user_pw').css('background-color', '');
            }
        });

        //<변경하기 버튼> - 빈칸은 없는지, 모든 칸이 올바르게 입력되었는지 확인
        $('#modifyButton').click(function(){
            exist_user_pw = $('#exist_user_pw').val();
            new_user_pw = $('#new_user_pw').val();
            check_user_pw = $('#check_user_pw').val();

            if($('#new_user_pw').css('background-color') != 'rgb(255, 255, 255)' | $('#check_user_pw').css('background-color') != 'rgb(255, 255, 255)') {
                alert("올바르지 않은 입력 값이 있습니다. 다시 입력해주세요.");
                return false;
            }
            if(exist_user_pw == '' | new_user_pw == '' | check_user_pw == ''){
                alert("입력하지 않은 칸이 있습니다. 모두 입력해주세요.");
                return false;
            }
        });
    });
</script>