{% extends 'base.html' %}

{% block title %}
    로그인
{% endblock %}


{% block siginincss %}
<style>
    body {
        background-color: #eee;
    }

    .main-form{
        margin-top:100px;
        width:500px; 
        height: 50%; 
        border: 0px solid #000;
        margin: 50px auto 10px auto;
        padding: 10px;
        background-color: white;
    }
    
    .title-font{
        font-family: 'Pacifico', cursive;
    }
    .login-form{
        margin:60px auto 0px auto;
        width:380px;
        height:250px;
        {% comment %} border: 1px solid black; {% endcomment %}
    }
    .login-box{
        margin-bottom:50px;
    }

    .loginbtn{
        width: 100%;
        background-color: #3897f0;
        border: 1px solid #3897f0;
        padding: 5px 12px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        border-radius: 3px;
    }
    .sub-content {
        width: 500px;
        height: 40%;
        margin: 10px auto;
        border: 1px solid #e6e6e6;
        padding: 20px 50px;
        background-color: #fff;
      }
    .s-part {
        text-align: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: normal;
    }
</style>
{% endblock siginincss %}

{% block content %}
<div class="container main-form">
    <div class="wrap">
        <h2 class="title-center title-font" style="font-size : 40px"> Spartagram</h2>
        <form class="form-area" method="post" active="/sign-in/">
            {% csrf_token %}
            <div class="login-form">
                <div class="form-group mt-2 mb-2 login-box">
                    <input type="text" class="form-control" id="username" name="username" placeholder="아이디">
                </div>
                <div class="form-group mt-2 mb-2 login-box">
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
                </div>
                <hr>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                
                <div style="float: right">
                    <button type="submit" class="btn btn-primary loginbtn" style="width:380px; margin:0px auto 20px auto;">로그인</button>
                   
                </div>
                
                
            </div>
        </form>

    </div>
    
</div>
<div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="/sign-up">Sign up</a>
    </div>
</div>
{% endblock %}

                