{% extends 'base.html' %}


{% block title %}
    프로필
{% endblock %}


{% block profilecss %}
<style>
    .info_container{
        width: 900px;
        display:flex;
        flex-direction: row;
        margin: 60px auto auto auto; 
    }

     .profile_img{
        width: 155px;
        height: 155px;
        overflow:hidden;
        border-radius: 50%;
        margin: 20px 60px 20px 0px;
        float: left;
    }
    
    .profile_img img{
        width: 100%;
        height: 100%;
    }

    .profile_edit_button{
        background-color: #ffffff;
        border-radius: 5px;
        border: solid 1px #b8b8b8;
        margin-bottom: 30px;
    }

    .my_tweet_img{
        width: 296px;
        height: 296px;
        overflow:hidden;
        margin: 20px;
        float: left;
    }
    
    .post_container{
        display:flex;
        width: 900px;
        flex-direction: row;
        margin: 40px auto 150px auto;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .bookmark_container{
        display:none;
        width: 900px;
        flex-direction: row;
        margin: 40px auto 150px auto;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .tweet_item{
        width: 300px;
        height: 300px;
        object-fit: cover;
        padding: 2px;
    }

    .post-image{
        width: 100%;
        height: 500px;
        object-fit: cover;
        overflow: hidden;
    }


    .profilemodal .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_overlay .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 1200px;
        height: 600px;
        position: relative;
        padding: 10px;
    }

    .modal_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size: 20px;
        }
  
    .modal_title_side{
        flex: 0 0 40px;
        text-align: center;
    }

    .image_container{
        outline: 2px dashed black ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width:100%;
        height: 548px;
    }

    .posts-type-row {
        margin: 0 auto;
        padding: 15px 0;
        width: 70%;
    }
      
    .posts-type-row div {
        display: inline-block;
        text-align: center;
        width: 32%;
    }

    .my-posts {
        color:blue;
        display: block;
        height: 24px;
        margin: 0 auto;
        width: 24px; 
    }
    
    .bookmarked-posts {
        display: block;
        height: 24px;
        margin: 0 auto;
        width: 24px; 
    }
    
    .tagged-posts {
        display: block;
        height: 24px;
        margin: 0 auto;
        width: 24px; 
    }

    

</style>
{% endblock profilecss %}


{% block profilecript %}
<script>
    

    const modal = document.getElementById("modal_add_feed");
    const buttonAddFeed = document.getElementById("add_feed");
    buttonAddFeed.addEventListener("click", e => {
        modal.style.display = "flex";
        document.body.style.overflowY = "hidden"; // 스크롤 없애기
    });
    
    // 모달 닫기 코드
    const buttonCloseModal = document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });

    function readFile(input){
        var reader = new FileReader();
        reader.onload = function(e){
            $('#output1').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
    
    $("#input").change(function(){
      readFile(this);
    });

    const post_show = document.getElementById("my_post_show");
    const bookmarked_show = document.getElementById("bookmarked_show");
    const tagged_show = document.getElementById("tagged_show");


    const my_post = document.getElementById("my_post");
    const bookmarked_posts = document.getElementById("bookmarked_posts");
    const tagged_posts = document.getElementById("tagged_posts");

    my_post.addEventListener("click", e => {
        post_show.style.display = "flex";
        bookmarked_show.style.display = "none";
        
        my_post.style.color="blue";
        bookmarked_posts.style.color="black";
        tagged_posts.style.color="black";
    });

    bookmarked_posts.addEventListener("click", e => {
        post_show.style.display = "none";
        bookmarked_show.style.display = "flex";
        
        my_post.style.color="black";
        bookmarked_posts.style.color="blue";
        tagged_posts.style.color="black";
    });

    tagged_posts.addEventListener("click", e => {
        post_show.style.display = "none";
        bookmarked_show.style.display = "none";
       
        my_post.style.color="black";
        bookmarked_posts.style.color="black";
        tagged_posts.style.color="blue";
    });


    
    

</script>
{% endblock profilecript %}


<body>
    {% block content %}
        <div class="main_container">
            
            <div class="info_container">
                
                <div class="profile_img">
                    {% if user.imgfile %}
                        <img src="{{ user.imgfile.url }}" alt="프로필사진">
                    {% else %}
                        <img src="http://cdn.onlinewebfonts.com/svg/img_329115.png" alt="프로필사진">
                    {% endif%}
                </div>
                <div class="profile_info">
                    <span class="username" style= "font-weight:bold; font-size:32px; margin-right:10px;">{{ user.username }}</span>
                    
                    {% if user == view_user %} {% comment %} 프로필 유저와 프로필 조회 유저가 같다면 {% endcomment %}
                        <a href="/user/fix_profile"><button class="profile_edit_button">프로필 편집</button></a> 
                    {% else %}
                        {% if user in view_user.follow.all %}
                            <a href="/user/follow/{{ user.id }}"><button class="profile_edit_button">팔로잉 취소</button></a>
                        {% else %}
                            <a href="/user/follow/{{ user.id }}"><button class="profile_edit_button">팔로잉</button></a>
                        {% endif %}                        
                    {% endif %}

                    {% if user == view_user %} 
                        <a href="#"><button class="profile_edit_button">친구 관리</button></a> {% comment %} 차단 친구 관리 : 차단목록관리 (작업중) {% endcomment %}
                    {% else %}
                        {% if user in view_user.blocked_users.all %} 
                            <a href="/user/block/{{ user.id }}"><button class="profile_edit_button">차단 해제</button></a>
                        {% else %}
                            <a href="/user/block/{{ user.id }}"><button class="profile_edit_button">차단</button></a>
                        {% endif %}
                    {% endif %}


                    <div class="author_name" style= "font-weight:bold; font-size:18px;">{{ user.author_name }}</div>
                    <div class="bio" style="width: 650px; height: auto; word-wrap: break-word; color:#8b8b8b;">{{ user.bio }}</div>
                    
                    <div style="margin-top: 20px;">
                        <span style="margin-right:15px;">게시물 <span style= "font-weight:bold;">{{ my_tweet_count }}</span>개</span>
                        <a href='/user/profile/followee/{{user.id}}'><span style="margin-right:15px;">팔로워 <span style= "font-weight:bold;">{{ user.followee.count }}</span>명</span></a>
                        <a href='/user/profile/follow/{{user.id}}'><span>팔로우 <span style= "font-weight:bold;">{{ user.follow.count }}</span>명</span></a>
                    </div>

            </div>

        </div>
        
        <hr style="margin:20px auto; width: 900px; color:#a1a1a1;">

        <!-- 토글 스위치 보여주기 -->

        <div class="posts-type-row">
            <div>
                <span class="my-posts" id="my_post"><i class="material-icons">grid_on</i></span>
            </div> 
            <div>
                <span class="bookmarked-posts" id="bookmarked_posts"><i class="material-icons">bookmark</i></span>
            </div>
            <div>
                <span class="tagged-posts" id="tagged_posts"><i class="material-icons">assignment_ind</i></span>
            </div>
        </div>

        



        

        <div class="post_container" id ="my_post_show"> {%comment%} 본인 게시글 사진 불러오기 {%endcomment%}
            {% if view_user in user.blocked_users.all %} {%comment%} 조회하는 user가 현 프로필 페이지 user의 차단 목록에 있다면 {%endcomment%}
            <div style="color:#C9C9C9; margin: 40px auto; font-size: 24px;">게시물 접근 권한이 없습니다.</div>
            {% else %}
                {% for tw in my_tweet %}
                    {% if tw.imgfile %}
                        <a href='/tweet/{{tw.id}}'><img src="/media/{{tw.imgfile}}" class="tweet_item" alt=""></a>
                    {% else %}
                        <img src="https://miro.medium.com/max/640/1*blwiJtR0mluF6R2UyakaSA.png" class="tweet_item" alt="" style= "border: solid 1px #E4E4E4;">
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
        
        {%comment%} 저장된 게시글 사진 불러오기 {%endcomment%}
        <div class="bookmark_container" id ="bookmarked_show"> 
            {% for tw in save_tweet %}
                {% if tw.imgfile%}
                    <a href='/tweet/{{tw.id}}'><img src="{{tw.imgfile.url}}" class="tweet_item" alt=""></a>
                {% else %}
                    <img src="https://miro.medium.com/max/640/1*blwiJtR0mluF6R2UyakaSA.png" class="tweet_item" alt="" style= "border: solid 1px #E4E4E4;">
                {% endif %}
            {% endfor %}
        
        </div>
    </div>

    


    <!-- 팝업창 띄우기 -->
    <div class="profilemodal">
        <div id = "modal_add_feed" class="modal_overlay">
            <div class="modal_window">
                <div class="modal_title">
                    <div class="modal_title_side"></div>
                    <div> 새 게시물 </div>
                    <div class="modal_title_side">
                        <span id="close_modal" class="material-icons-outlined">
                            close
                        </span>

                    </div>
                </div>
                <div class="container">
                    <form action="/tweet/" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <img id='output1' class="image_container">
                            </div>
                            <div class="col-6">
                                <div class="media">
                                    <div class="media-body">
                                        <br>
                                        <br>
                                        <h5 class="mt-0">글 내용 입력</h5>                
                                        <p>                                   
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                            <div class="form-group mb-2">
                                                <input
                                                    style="margin-bottom:15px"
                                                    type="text"
                                                    class="form-control"
                                                    name="my-title"
                                                    id="my-title"
                                                    placeholder="제목"
                                                >

                                                <textarea class="form-control"style="resize:none;"name='my-content'id="my-content"placeholder="내용 입력"></textarea >

                                                <div class="mt-3 row">
                                                    <label for="tag" class="col-sm-2 col-form-label">이 글의 태그</label>
                                                    <div class="col-sm-10">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            name="tag"
                                                            id="tag"
                                                            placeholder="#으로 구분 해 주세요">
                                                    </div>
                                                </div>
                                                
                                                <input type='file' accept='image/*' name="imgfile" id="input" ></br>
                                            </div>
            

                                            <div style="float: right">
                                                <button type="submit" class="btn btn-primary">작성하기</button>
                                                <a href="/user/profile/{{ user.id }}" class="btn btn-secondary">취소</a>
                                            </div> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
